@charset "ISO-8859-1";

.fl-div-login{
	margin: 15% auto;
    background-color: #f7f7f7;
    padding: 10px;
    width: 500px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.fl-div-image{
	width: 200px;
    height: 135px;
    margin: auto;
}

.fl-div-image img{
	width: 200px;
}

.fl-btn-primary{
	background-color:#333333;
	border: none;
	display: block;
    margin: auto;
    width: 30%;
}

.fl-btn-primary:hover{
	background-color: #545454;
}

.fl-btn-primary:active{
	background-color: #ffa500!important;
	border-color: #ffa500!important;
}

.fl-login-background{
	background: url('../images/login-background.jpg');
	background-size: cover;
	background-repeat: none;
}
